@import "bootstrap";
@import "font-awesome";
@import "pages";
@import "skeins";


.bg-faded {
  background-color: black;
}

.navbar-toggler-right {
  background-color: #FCCE3B;
}

.navbar-brand {
  overflow: visible;
}

.navbar {
  z-index: 10;
  position: relative;
}
