// Place all the styles related to the Skeins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.skein-price {
  float: left;
}

.shopping-cart {
  float: right;
}

.skein-spinner {
  float: left;
}

.skein-availability {
  float: left;
}

.wrapper {
  width: 95%;
  margin: auto;
  text-align: center;
}

.card {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
